@page
@model OdeToFood.Pages.ListModel
@{
}

<h1>Restaurants</h1>

<form method="get">
    <div class="input-group mb-3">
        <input type="search" name="SearchTerm" class="form-control" placeholder="Search restaurants..."
            asp-for="SearchTerm" />
        <button type="submit" class="btn btn-outline-secondary">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cuisine</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Restaurants != null && Model.Restaurants.Any())
        {
            foreach (var restaurant in Model.Restaurants)
            {
                <tr>
                    <td>@restaurant.Name</td>
                    <td>@restaurant.Cuisine</td>
                    <td>@restaurant.Location</td>
                    <td>
                        <a asp-page="./Details" asp-route-restaurantId="@restaurant.Id" class="btn btn-info">
                            Details
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@* <div>@Model.Message</div> *@
